.forgetPass{
    width: 100%;
}
.forgetPass .wrap{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    border-radius: 21px;
    padding: 30px;
}
.forgetPass .title{
    font-size: 18px;
    font-weight: bold;
}
.forgetPass input{
    width: 60%;
    height: 40px;
    padding: 5px 15px;
    border-radius: 30px;
    outline: unset;
    margin-right: 80px;
}
.forgetPass .success-email{
    color: green;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}
.forgetPass .fail-email,
.forgetPass .notexist-email{
    color: red;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}