#listNotApprove {
}
#listNotApprove .successApprove,
#listNotApprove .successApproveAll {
	color: green;
	font-weight: bold;
}

#listNotApprove .failApprove,
#listNotApprove .failApproveAll {
	color: red;
	font-weight: bold;
}

#listNotApprove .title {
	display: flex;
	justify-content: space-between;
}

#listNotApprove tr.tr:hover {
	font-weight: bold;
	color: white;
	cursor: pointer;
	background-color: gray;
}

#listNotApprove td.tien {
	color: red;
	font-weight: bold;
}

#listNotApprove td.trangthai {
	color: blue;
}

#listNotApprove .content {
	margin-top: 20px;
}
