#product-list{

}
#product-list .top-menu{
    display: flex;
    justify-content: space-between;
}
#product-list .top-menu input{
    min-width: 330px;
    height: 40px;
    outline: unset;
    padding: 0 15px;
    border-radius: 10px;
    margin-right: 30px;
}
#product-list h4{
    font-weight: bold;
    margin-bottom: 30px;
}
#product-list th.c1,
#product-list td.c1{
    width: 2%;
}
#product-list th.c2,
#product-list td.c2{
    width: 25%;
}
#product-list th.c3,
#product-list td.c3{
    width: 20%;
}
#product-list td.c3 img{
    height: 20%;
}